.red 			{background-color: #D65053;}
.green		    {background-color: #6AC57B;}
.blue		    {background-color: #5962D8;}
.yellow		    {background-color: #F4E760;}
.white		    {background-color: #F2F2F2;}
.orange 		{background-color: #FF8000;}
.tuerkis	    {background-color: #81F7F3;}
.rosa		    {background-color: #F5A9F2;}
.pink		    {background-color: #FE2EF7;}
.lila		    {background-color: #8000FF;}
.light-green    {background-color: #BCF5A9;}
.light-orange	{background-color: #F3AD79;}
.light-blue	    {background-color: #81DAF5;}
.smooth-blue    {background-color: #00BFFF;}
.very-light-blue{background-color: #CED8F6;}
.white-blue	    {background-color: #EFF8FB;}
/*insert color here*/
.fade1			{ background-color: #; }
.fade2			{ background-color: #; }
.fade3			{ background-color: #; }
.fade4			{ background-color: #; }